openapi: 3.0.0
info:
  version: '4.0.0'
  title: FDX V4.0
  description: Financial Data Exchange V4.0 API
servers:
  - url: 'https://api.fi.com/fdx/v4'
    description: Financial Data Exchange V4.0 API
paths:
  /accounts:
    get:
      operationId: searchForAccounts
      tags:
        - Account Information
      summary: Search for accounts
      description: Query all information for a set of accounts provided in the payload
      parameters:
        - name: accountIds
          in: query
          description: Comma separated list of account ids
          style: form
          explode: false
          schema:
            type: array #TODO: I made this an array, update PDF
            items:
              type: string
        - name: startTime
          in: query
          description: Start time for use in retrieval of transactions
          schema:
            type: array #TODO: I made this an array, update PDF
            items:
              type: string
              format: date
        - name: endTime
          in: query
          description: End time for use in retrieval of transactions
          schema:
            type: array #TODO: I made this an array, update PDF
            items:
              type: string
              format: date
        - name: resultType
          in: query
          description: Flag to indicate if you want a lightweight array of descriptors or full account details. If set to `lightweight`, should only return the fields associated with the `AccountDescriptor` entity. This field is not required, but defaults to lightweight
          required: false
          schema:
            type: string
            enum: [lightweight, details]
            default: lightweight
        - name: offset
          in: query
          description: >-
            Opaque cursor used by the provider to send the next set of records
          schema:
            type: string
        - name: limit
          in: query
          description: >-
            Number of elements that the consumer wishes to receive - Providers should implement reasonable defaults and maximum
          schema:
            type: integer
      responses:
        '200':
          description: Array of accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
              examples:
                example1:
                  value:
                    {
                      "page": {
                        "nextOffset": "2",
                        "total": 3
                      },
                      "links": {
                        "next": {
                          "href": "/accounts?offSet=2&limit=10"
                        }
                      },
                      "accounts" : [
                        {
                          "depositAccount" : {
                            "accountId" : "10001",
                            "nickname" : "My Checking Acc XXXX3223",
                            "status" : "OPEN",
                            "nickName" : "Account 1",
                            "balanceAsOf" : "2017-11-05T13:15:30.751Z",
                            "currentBalance" : 13300.35
                          }
                        },
                        {
                          "depositAccount" : {
                            "accountId" : "10002",
                            "nickname" : "My Checking Acc XXXX4443",
                            "status" : "OPEN",
                            "nickName" : "Account 2",
                            "balanceAsOf" : "2017-11-05T13:15:30.751Z",
                            "currentBalance" : 332.22
                          }
                        },
                        {
                          "loanAccount" : {
                            "accountId" : "20001",
                            "nickname" : "My Mortgage Acc XXXX9979",
                            "status" : "OPEN",
                            "nickName" : "Account 3",
                            "balanceAsOf" : "2017-11-05T13:15:30.751Z",
                            "principalBalance" : 133000.35,
                            "loanTerm" : 30,
                            "nextPaymentDate" : "2017-12-01T12:00:00.000Z",
                            "nextPaymentAmount" : 2333.32
                          }
                        }
                      ]
                    }
  /accounts/{accountId}:
    get:
      operationId: getAccount
      tags:
        - Account Information
      description: Get a specific account
      summary: Get an account
      parameters:
      - name: accountId
        in: path
        description: Account Identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: >-
            This can be one of LoanAccount, DepositAccount, LocAccount,
            InvestmentAccount or AnnuityAccount.
          content:
            application/json:
              schema:
                type: object
                oneOf:
                  - properties:
                      depositAccount:
                        $ref: '#/components/schemas/DepositAccount'
                  - properties:
                      loanAccount:
                        $ref: '#/components/schemas/LoanAccount'
                  - properties:
                      locAccount:
                        $ref: '#/components/schemas/LocAccount'
                  - properties:
                      investmentAccount:
                        $ref: '#/components/schemas/InvestmentAccount'
                  - properties:
                      insuranceAccount:
                        $ref: '#/components/schemas/InsuranceAccount'
                  - properties:
                      annuityAccount:
                        $ref: '#/components/schemas/AnnuityAccount'
              example:
                {
                  "loanAccount": {
                    "accountId": "12345678",
                    "accountType": "LOAN",
                    "displayName": "XXXXX4567",
                    "status": "OPEN",
                    "description": "30 Year Mortgage",
                    "nickName": "My Home Mortgage",
                    "currency": "USD",
                    "interestRate": 4.0,
                    "loanTerm": 0,
                    "totalNumberOfPayments": 0
                  }
                }
  /accounts/{accountId}/statements/{statementId}:
    get:
      operationId: getAccountStatement
      tags:
        - Account Statements
      description: Gets account statement image
      summary: Get an account statement image
      parameters:
        - name: accountId
          in: path
          description: Account Identifier
          required: true
          schema:
            type: string
        - name: statementId
          in: path
          description: Statement Identifier
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: Document format
          schema:
            $ref: '#/components/schemas/ContentTypes'
          required: true
      responses:
        '200':
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
          description: An image of an account statement
        '406':
          description: Document not available for 'Accept' header's content-type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /accounts/{accountId}/statements:
    get:
      operationId: searchForAccountStatements
      tags:
        - Account Statements
      description: Get account statements
      summary: Search for statements
      parameters:
        - name: accountId
          in: path
          description: Account Identifier
          required: true
          schema:
            type: string
        - name: startTime
          in: query
          description: Start time ISO 8601
          schema:
            type: string
        - name: endTime
          in: query
          description: End time ISO 8601
          schema:
            type: string
        - name: offset
          in: query
          description: >-
            Opaque cursor used by the provider to send the next set of records
          schema:
            type: string
        - name: limit
          in: query
          description: >-
            Number of elements that the consumer wishes to receive - Providers should implement reasonable defaults and maximum
          schema:
            type: integer
      responses:
        '200':
          description: Paginated statements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statements'
              examples:
                example1:
                  value:
                    {
                      "page": {
                        "nextOffset": "2",
                        "total": 3
                      },
                      "links": {
                        "next": {
                          "href": "/accounts/1111/statements?offSet=2&limit=10"
                        }
                      },
                      "statements": [
                        {
                          "accountId": 10001,
                          "statementId": 20001
                        }
                      ]
                    }
  /accounts/{accountId}/transaction-images/{imageId}:
    get:
      operationId: getAccountTransactionImages
      tags:
        - Account Transactions
      description: Get account transaction image
      summary: Get account transaction image
      parameters:
        - name: accountId
          in: path
          description: Account Identifier
          required: true
          schema:
            type: string
        - name: imageId
          in: path
          description: Image Identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Image of transaction (such as a scanned check)
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
  /accounts/{accountId}/transactions:
    get:
      operationId: searchForAccountTransactions
      tags:
        - Account Transactions
      description: Search for account transactions
      summary: Search for account transactions
      parameters:
        - name: accountId
          in: path
          description: Account Identifier
          required: true
          schema:
            type: string
        - name: startTime
          in: query
          description: Start time ISO 8601
          schema:
            type: string
        - name: endTime
          in: query
          description: End time ISO 8601
          schema:
            type: string
        - name: offset
          in: query
          description: >-
            Opaque cursor used by the provider to send the next set of records
          schema:
            type: string
        - name: limit
          in: query
          description: >-
            Number of elements that the consumer wishes to receive - Providers should implement reasonable defaults and maximum
          schema:
            type: integer
      responses:
        '200':
          description: >-
            'Paged collection of transactions, which can be one of
            DepositTransaction, LoanTransaction, LocTransaction or
            InvestmentTransaction'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
              examples:
                example1:
                  value: {
                    "page": {
                        "nextOffset": "2",
                        "total": 3
                      },
                      "links": {
                        "next": {
                          "href": "/accounts/33333/transactions?offSet=2&limit=10"
                        }
                      },
                      "transactions": [
                      {"depositTransaction":{
                        "accountId": "10001",
                        "transactionId": "20001",
                        "transactionCategory": "DEPOSIT_ACCOUNT_TRANSACTION",
                        "postedTimestamp": "2017-11-05T13:15:30.751Z",
                        "description": "Direct depoisit from XYZ",
                        "debitCreditMemo": "CREDIT",
                        "amount": "1200.42"
                      }},
                      {"depositTransaction":{
                        "accountId": "10001",
                        "transactionId": "20001",
                        "transactionCategory": "DEPOSIT_ACCOUNT_TRANSACTION",
                        "postedTimestamp": "2017-11-05T13:15:31.751Z",
                        "description": "Withdrawal from ATM",
                        "debitCreditMemo": "DEBIT",
                        "amount": "1200.42"
                      }}
                    ]
                  }
  /availability:
    get:
      operationId: getAvailability
      tags:
        - Meta
      description: Get information about this API's availability
      summary: Get API availability
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Availability'
  /capability:
    get:
      operationId: getCapability
      tags:
        - Meta
      description: Get information about this API's capability
      summary: Get API capability
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Capability'
  /customers/current:
    get:
      operationId: getCustomerInfo
      tags:
        - Personal Information
      description: Get information about the customer within the authorization scope
      summary: Get current authenticated customer information
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
  /transfers:
    post:
      operationId: requestAccountTransfer
      tags:
        - Money Movement
      description: Create a transfer between accounts
      summary: Request account transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transfer'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferStatus' #TODO: Update PDF
  /transfers/{transferId}/status:
    get:
      operationId: getTransferStatus
      tags:
        - Money Movement
      description: Get status of transfer between accounts
      summary: Get transfer status
      parameters:
        - name: transferId
          in: path
          required: true
          description: Transfer identifier
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferStatus'
  /tax-forms:
    get:
      operationId: searchForTaxForms
      summary: Search tax forms
      description: Get the full lists of tax data and tax form images available for a specific year for the current authorized customer
      tags:
        - Tax Forms
      parameters:
        - name: taxYears
          in: query
          description: Tax year
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: taxForms
          in: query
          description: One or more tax form names for the specific forms being requested. Comma separated
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TaxFormType'
        - name: contentTypes
          in: query
          description: One or more content-types to search for. Comma separated
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ContentTypes'
        - name: resultType
          in: query
          description: Flag to indicate if you want a lightweight array of Tax entities or the full tax form details. If set to `lightweight`, should only return the fields associated with the `Tax` entity. This field is not required, but defaults to lightweight
          required: false
          schema:
            type: string
            enum: [lightweight, details]
            default: lightweight
      responses:
        '200':
          description: Array of metadata for all the tax data and tax form images available for the customer matching search criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxDataList'
    post:
      operationId: createTaxForm
      summary: Create tax form
      description: Submit the data for a specific tax form
      tags:
        - Submit Tax Forms
      requestBody:
        content:
          application/json:
            schema:
              description: The full data contents of the form including the indexing metadata values
              type: array
              items:
                $ref: '#/components/schemas/TaxData'
      responses:
        '201':
          description: Created form for the tax data submitted
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaxData'
  /tax-forms/{taxFormId}:
    get:
      operationId: getTaxForm
      summary: Retrieve tax form
      description: Get the form image for a specific tax form for the current authorized customer
      tags:
        - Tax Forms
      parameters:
        - name: taxFormId
          in: path
          description: form ID
          required: true
          schema:
            type: integer
        - name: Accept
          in: header
          description: Document format
          schema:
            $ref: '#/components/schemas/ContentTypes'
          required: true
      responses:
        '200':
          description: The form image or Tax Data as json for a single tax form for the customer
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaxData'
              example:
                {
                  "tax1095A": {
                    "taxYear": 0,
                    "corrected": true,
                    "accountId": "string",
                    "taxDocumentId": "string",
                    "taxDocumentDate": "string",
                    "taxDocumentDescription": "string",
                    "additionalInformation": "string",
                    "taxFormType": "Tax1041K1",
                    "links": {
                      "self": {
                        "href": "/example/accounts/12345",
                        "action": "GET",
                        "types": [
                          "application/json"
                        ]
                      }
                    },
                    "marketplaceId": "string",
                    "marketplacePolicyNumber": "string",
                    "policyIssuerName": "string",
                    "recipientName": "string",
                    "recipientTin": "string",
                    "recipientDateOfBirth": "string",
                    "spouseName": "string",
                    "spouseTin": "string",
                    "spouseDateOfBirth": "string",
                    "policyStartDate": "string",
                    "policyTerminationDate": "string",
                    "recipientAddress": {
                      "line1": "string",
                      "line2": "string",
                      "line3": "string",
                      "city": "string",
                      "state": "string",
                      "postalCode": "string",
                      "country": "AD"
                    },
                    "coveredIndividuals": [
                      {
                        "name": "string",
                        "tin": "string",
                        "dateOfBirth": "string",
                        "policyStartDate": "string",
                        "policyTerminationDate": "string"
                      }
                    ],
                    "coverages": [
                      {
                        "enrollmentPremium": 0,
                        "slcspPremium": 0,
                        "advancePremiumTaxCreditPayment": 0,
                        "month": "ANNUAL"
                      }
                    ]
                  }
                }
        '406':
          description: Document not available for 'Accept' header's content-type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateTaxForm
      summary: Update tax form
      description: Update tax document. Allows you to upload and replace binaries or json document
      tags:
        - Submit Tax Forms
      parameters:
        - name: taxFormId
          in: path
          description: form ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              description: The full data contents of the form including the indexing metadata values
              type: array
              items:
                $ref: '#/components/schemas/TaxData'
          application/pdf:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Ok
        '415':
          description: Server does not support the content type uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

#########
# Types #
#########

components:
  schemas:
    ContentTypes:
      title: Content Types
      description: Types of document formats. (Suggested)
      type: string
      enum:
        - application/pdf
        - image/gif
        - image/jpeg
        - image/tiff
        - image/png
        - application/json
      example: application/json

    HateoasLink:
      type: object
      required: [href]
      properties:
        href:
          type: string
          example: "/example/accounts/12345"
        action:
          type: string
          enum: [GET, POST, PATCH, DELETE, PUT]
          description: HTTP Method to use for the request (Suggested)
        types:
          type: array
          items:
            $ref: '#/components/schemas/ContentTypes'
          description: Content-types that can be used in the Accept header.
    PageMetadataLinks:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/HateoasLink'
        prev:
          $ref: '#/components/schemas/HateoasLink'
    PageMetadata:
      type: object
      properties:
        nextOffset:
          type: string
          example: "2"
          description: Opaque identified. Does not need to be numeric or have any specific pattern. Implementation specific.
        prevOffset:
          type: string
          example: "2"
          description: Opaque identified. Does not need to be numeric or have any specific pattern. Implementation specific.
        totalElements:
          type: integer
          example: 3
          description: Total number of elements

    PaginatedArray:
      type: object
      description: To be used as a mixin using "allOf"
      properties:
        page:
          $ref: '#/components/schemas/PageMetadata'
        links:
          $ref: '#/components/schemas/PageMetadataLinks'

###########################################
# Complex Types                           #
# Sequences matched PDF, not alphabetical #
###########################################

    Account:
      title: Account Entity
      description: >-
        An abstract account entity that concrete account entities extend. Extends
        and inherits all fields from AccountDescriptor.
      allOf:
        - $ref: '#/components/schemas/AccountDescriptor'
        - type: object
          properties:
            parentAccountId:
              description: >-
                Long-term persistent identity of the parent account. This is
                used to group accounts.
              $ref: '#/components/schemas/Identifier'
            lineOfBusiness:
              description: >-
                The line of business, such as consumer, consumer joint, small
                business, corporate, etc.
              type: string
            routingTransitNumber:
              type: string
              description: >-
                Routing transit number (RTN) associated with
                account number at owning institution.
            balanceType:
              $ref: '#/components/schemas/BalanceType'
              description: >-
                ASSET (positive transaction amount increases balance), LIABILITY
                (positive transaction amount decreases balance)
            interestRate:
              $ref: '#/components/schemas/Number'
              description: Interest Rate of Account
            interestRateType:
              $ref: '#/components/schemas/InterestRateType'
            interestRateAsOf:
              $ref: '#/components/schemas/Timestamp'
              description: Date of account’s interest rate
            priorInterestRate:
              $ref: '#/components/schemas/Number'
              description: Previous Interest Rate of Account
            transferIn:
              $ref: '#/components/schemas/Boolean'
              description: Account is eligible for incoming transfers
            transferOut:
              $ref: '#/components/schemas/Boolean'
              description: Account is eligible for outgoing transfers
            micrNumber:
              $ref: '#/components/schemas/String64'
              description: MICR Number
            lastActivityDate:
              $ref: '#/components/schemas/Timestamp'
              description: Date that last transaction occurred on account
            transactionsIncluded:
              $ref: '#/components/schemas/Boolean'
              description: >-
                Default is false. If present and true, a call to retrieve
                transactions will not return any further details about this
                account. This is an optimization that allows a Durable Data API
                server to return transactions and account details in a single
                call.

    AccountDescriptor:
      title: AccountDescriptor Entity
      description: Minimal information about the account for use in lightweight arrays.
      properties:
        accountId:
          description: >-
            Long-term persistent identity of the account. Not an account number.
            This identity must be unique to the owning institution.
          $ref: '#/components/schemas/Identifier'
        error:
          description: Present if an error was encountered while retrieving this account
          $ref: '#/components/schemas/Error'
        accountType:
          $ref: '#/components/schemas/AccountType'
        accountNumber:
          description: >-
            Full account number for the end user's handle for
            account at owning institution.
          type: string
        accountNumberDisplay:
          description: >-
            Account display number for the end user’s handle at owning
            institution. This is to be displayed by the Interface Provider.
          type: string
        productName:
          type: string
          description: Marketed product name for this account. Used in UIs to assist in account selection
          example:
        nickname:
          description: Name given by the user. Used in UIs to assist in account selection
          type: string
        status:
          type: string
          enum:
            - OPEN
            - CLOSED
            - PENDINGOPEN
            - PENDINGCLOSE
            - DELINQUENT
            - PAID
            - NEGATIVECURRENTBALANCE
        description:
          type: string
        currency:
          $ref: '#/components/schemas/Currency'
        fiAttributes:
          type: array
          items:
            $ref: '#/components/schemas/FiAttribute'
      type: object

    AccountDescriptorList:
      title: AccountDescriptorList Entity
      description: A lightweight array of accounts.
      properties:
        accountDescriptor:
          type: array
          items:
            $ref: '#/components/schemas/AccountDescriptor'

    Accounts:
      title: Accounts Entity
      description: An optionally paginated array of accounts.
      allOf:
        - $ref: '#/components/schemas/PaginatedArray'
        - type: object
          properties:
            accounts:
              type: array
              items:
                type: object
                oneOf:
                  - type: object
                    properties:
                      depositAccount:
                        $ref: '#/components/schemas/DepositAccount'
                  - type: object
                    properties:
                      investmentAccount:
                        $ref: '#/components/schemas/InvestmentAccount'
                  - type: object
                    properties:
                      loanAccount:
                        $ref: '#/components/schemas/LoanAccount'
                  - type: object
                    properties:
                      locAccount:
                        $ref: '#/components/schemas/LocAccount'
                  - type: object
                    properties:
                      annuityAccount:
                        $ref: '#/components/schemas/AnnuityAccount'
                  - type: object
                    properties:
                      insuranceAccount:
                        $ref: '#/components/schemas/InsuranceAccount'

    AccountDetailsRequest:
      title: AccountDetailsRequest Entity
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/SingleAccountDetailsRequest'

    Availability:
      title: Availability Entity
      properties:
        currentStatus:
          type: string
        currentStatusDesc:
          type: string
        plannedAvailability:
          type: array
          items:
            $ref: '#/components/schemas/PlannedAvailability'
      type: object

    Capability:
      title: Capability Entity
      properties:
        allowedConnections:
          type: integer
          description: Number of concurrent connections allowed for this client
        activeConnections:
          type: integer
          description: Current number of active connections for this client
        supportsCustomer:
          $ref: '#/components/schemas/Boolean'
          description: Capable of responding to customer queries. Defaults to false.
        supportsAccounts:
          $ref: '#/components/schemas/Boolean'
          description: >-
            Capable of responding to accounts and account queries. Defaults to
            false.
        supportsTransactions:
          $ref: '#/components/schemas/Boolean'
          description: Capable of responding to transaction queries. Defaults to false.
        supportsStatements:
          $ref: '#/components/schemas/Boolean'
          description: >-
            Capable of responding to statements and statement queries. Defaults
            to false.
        supportsImage:
          $ref: '#/components/schemas/Boolean'
          description: Capable of responding to image queries. Defaults to false.
        supportsBillPay:
          $ref: '#/components/schemas/Boolean'
          description: Capable of supporting a bill payment request. Defaults to false.
        supportsTransfer:
          $ref: '#/components/schemas/Boolean'
          description: Capable of supporting a transfer request. Defaults to false.
        messageFormat:
          $ref: '#/components/schemas/MessageFormat'
          description: Defaults to JSON.
        transferCutOffTime:
          description: Cut off time for transfers. Required if transfers are supported.
          $ref: '#/components/schemas/Timestamp'
        billPayCutOffTime:
          description: >-
            Cut off time for bill payment. Required if bill payment is
            supported.
          $ref: '#/components/schemas/Timestamp'
      type: object

    Contribution:
      title: Contribution Entity
      properties:
        securityId:
          type: string
          description: Unique identifier of security
        securityIdType:
          $ref: '#/components/schemas/SecurityIdType'
        employerMatchPercentage:
          $ref: '#/components/schemas/Number'
          description: Employer contribution match percentage
        employerMatchAmount:
          $ref: '#/components/schemas/Number'
          description: Employer contribution match amount
        employeePreTaxAmount:
          $ref: '#/components/schemas/Number'
          description: Employee pre‐tax contribution amount
        employeePreTaxPercentage:
          $ref: '#/components/schemas/Number'
          description: Employee pre‐tax contribution percentage
        employeeAfterTaxAmount:
          $ref: '#/components/schemas/Number'
          description: Employee after tax contribution amount
        employeeAfterTaxPercentage:
          $ref: '#/components/schemas/Number'
          description: Employee after tax contribution percentage
        employeeDeferPreTaxAmount:
          $ref: '#/components/schemas/Number'
          description: Employee defer pre‐tax contribution match amount
        employeeDeferPreTaxPercentage:
          $ref: '#/components/schemas/Number'
          description: Employee defer pre‐tax contribution match percentage
        employeeYearToDate:
          $ref: '#/components/schemas/Number'
          description: Employee total year to date contribution
        employerYearToDate:
          $ref: '#/components/schemas/Number'
          description: Employer total year to date contribution
        rolloverContributionPercentage:
          $ref: '#/components/schemas/Number'
          description: Rollover contribution percentage
        rolloverContributionAmount:
          $ref: '#/components/schemas/Number'
          description: Rollover contribution Amount
      type: object

    Currency:
      title: Currency Entity
      properties:
        currencyRate:
          $ref: '#/components/schemas/Number'
          description: Currency rate between original and converted currency
        currencyCode:
          $ref: '#/components/schemas/Iso4217Code'
          description: Iso 4217 currency code
        originalCurrencyCode:
          $ref: '#/components/schemas/Iso4217Code'
          description: Iso 4217 currency code
      type: object

    Customer:
      title: Customer Entity
      properties:
        customerId:
          $ref: '#/components/schemas/Identifier'
          description: >-
            Long-term persistent identity of the customer.
            This identity must be unique to the owning institution.
        name:
            $ref: '#/components/schemas/CustomerName'
            description: The customer's name
        dateOfBirth:
            $ref: '#/components/schemas/Timestamp'
            description: The customer's date of birth
        taxId:
            type: string
            description: The SSN or TIN associated with this customer
        governmentId:
            type: string
            description: >-
              A federal (such as passport) or state (such as driver's license)
              issued identifier
        email:
            type: array
            items:
              type: string
            description: >-
              An array of the customer's electronic mail addresses
        addresses:
            type: array
            items:
              $ref: '#/components/schemas/DeliveryAddress'
            description: >-
              An array of the customer's physical mail addresses
        telephones:
            type: array
            items:
              $ref: '#/components/schemas/TelephoneNumber'
            description: An array of the customer's telephone numbers

    CustomerName:
      title: CustomerName Entity
      description: The name of an individual in their role as a customer
      allOf:
        - $ref: '#/components/schemas/IndividualName'
        - type: object
          properties:
            prefix:
              description: Name prefix, e.g. Mr.
              type: string
            company:
              type: string
              description: Company name

    DebtSecurity:
      title: DebtSecurity Entity
      properties:
        parValue:
          $ref: '#/components/schemas/Number'
          description: Par value amount
        debtType:
          $ref: '#/components/schemas/DebtType'
          description: Debt type (COUPON, ZERO)
        debtClass:
          $ref: '#/components/schemas/DebtClass'
          description: Classification of debt (TREASURY, MUNICIPAL, CORPORATE, OTHER)
        couponRate:
          $ref: '#/components/schemas/Number'
          description: Bond coupon rate for next closest call date
        couponDate:
          $ref: '#/components/schemas/Timestamp'
          description: Maturity date for next coupon
        couponMatureFrequency:
          $ref: '#/components/schemas/CouponMatureFrequency'
          description: When coupons mature (MONTHLY, QUARTERLY,  SEMIANNUAL, ANNUAL, OTHER)
        callPrice:
          $ref: '#/components/schemas/Number'
          description: Bond call price
        yieldToCall:
          $ref: '#/components/schemas/Number'
          description: Yield to next call
        callDate:
          $ref: '#/components/schemas/Timestamp'
          description: Next call date
        callType:
          $ref: '#/components/schemas/CallType'
          description: Type of next call (CALL, PUT, PREFUND, MATURITY)
        yieldToMaturity:
          $ref: '#/components/schemas/Number'
          description: Yield to maturity
        bondMaturityDate:
          $ref: '#/components/schemas/Timestamp'
          description: Bond Maturity date

    DeliveryAddress:
      title: DeliveryAddress Entity
      description: A delivery address and its location type.
      allOf:
        - $ref: '#/components/schemas/Address'
        - type: object
          properties:
            type:
              $ref: '#/components/schemas/DeliveryAddressType'
              description: Type of address location, one of BUSINESS, HOME, MAILING

    DepositAccount:
      title: DepositAccount Entity
      allOf:
        - $ref: '#/components/schemas/Account'
        - type: object
          properties:
            balanceAsOf:
              description: As-of date of balances
              $ref: '#/components/schemas/Timestamp'
            currentBalance:
              $ref: '#/components/schemas/Number'
              description: Balance of funds in account
            openingDayBalance:
              $ref: '#/components/schemas/Number'
              description: Day's opening fund balance
            availableBalance:
              $ref: '#/components/schemas/Number'
              description: Balance of funds available for use
            annualPercentageYield:
              $ref: '#/components/schemas/Number'
              description: Annual Percentage Yield
            interestYtd:
              $ref: '#/components/schemas/Number'
              description: YTD Interest
            term:
              type: integer
              description: Term of CD in months
            maturityDate:
              description: Maturity date for CDs
              $ref: '#/components/schemas/Timestamp'
            transactions:
              type: array
              description: Array of DepositTransactions
              items:
                $ref: '#/components/schemas/DepositTransaction'

    DepositTransaction:
      title: DepositTransaction Entity
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - properties:
            transactionType:
              $ref: '#/components/schemas/DepositTransactionType'
              description: >-
                CHECK, WITHDRAWAL, TRANSFER, POSDEBIT, ATMWITHDRAWAL. BILLPAYMENT, FEE, DEPOSIT,
                ADJUSTMENT, INTEREST, DIVIDEND, DIRECTDEPOSIT, ATMDEPOSIT, POSCREDIT
            payee:
              $ref: '#/components/schemas/String255'
              description: Payee name
            checkNumber:
              type: integer
              description: Check Number
          type: object

    Error:
      title: Error Entity
      description: >-
        An error entity which can be used at the API level for error responses
        or at the account level to indicate a problem specific to a particular
        account.
      properties:
        code:
          type: string
          description: >-
            Long term persistent identifier which can be used to trace error
            condition back to log information
        message:
          type: string
          description: >-
            End user displayable information which might help the customer
            diagnose an error
      type: object

    FiAttribute:
      title: FiAttribute Entity
      description: Financial platform provider-specific attribute
      properties:
        name:
          type: string
          description: Name of attribute
        value:
          type: string
          description: Value of attribute
      type: object

    FiPortion:
      title: FiPortion
      properties:
        assetClass:
          type: string
          description: FI-specific asset class
        percent:
          type: number
          description: Percentage of asset class that falls under this asset
      type: object

    Holding:
      title: Holding Entity
      allOf:
        - properties:
            holdingId:
              $ref: '#/components/schemas/Identifier'
              description: Long term persistent identity of the holding
            securityId:
              description: Unique identifier of security
              type: string
            securityIdType:
              $ref: '#/components/schemas/SecurityIdType'
            holdingName:
              type: string
              description: Holding name or security name
            holdingType:
              $ref: '#/components/schemas/HoldingType'
              description: STOCK, BOND, MUTUALFUND, CD, ANNUITY, OPTIONS
            holdingSubType:
              $ref: '#/components/schemas/HoldingSubType'
              description: MONEYMARKET, CASH
            positionType:
              $ref: '#/components/schemas/PositionType'
              description: LONG, SHORT
            heldInAccount:
              $ref: '#/components/schemas/HeldInAccount'
              description: Sub-account CASH, MARGIN, SHORT, OTHER
            description:
              type: string
              description: The description of the holding
            symbol:
              type: string
              description: Ticker / Market symbol
            originalPurchaseDate:
              $ref: '#/components/schemas/Timestamp'
              description: Date of original purchase
            purchasedPrice:
              $ref: '#/components/schemas/Number'
              description: Price of holding at the time of purchase
            currentUnitPrice:
              $ref: '#/components/schemas/Number'
              description: Current unit price
            changeInPrice:
              $ref: '#/components/schemas/Number'
              description: Change in current price compared to previous day's close
            currentUnitPriceDate:
              $ref: '#/components/schemas/Timestamp'
              description: Current unit price as of date
            units:
              $ref: '#/components/schemas/Number'
              description: Required for stock, mutual funds. Number of shares (with decimals)
            marketValue:
              $ref: '#/components/schemas/Number'
              description: Market value at the time of data retrieved
            faceValue:
              $ref: '#/components/schemas/Number'
              description: Required for bonds. Face value at the time of data retrieved.
            averageCost:
              $ref: '#/components/schemas/Boolean'
              description: Cost is average of all purchases for holding
            cashAccount:
              $ref: '#/components/schemas/Boolean'
              description: >-
                If true, indicates that this holding is used to maintain proceeds
                from sales, dividends, and other cash postings to the investment account
            rate:
              $ref: '#/components/schemas/Number'
              description: For CDs, bonds, and other rate based holdings
            expirationDate:
              $ref: '#/components/schemas/Timestamp'
              description: For CDs, bonds, and other time‐based holdings
            inv401kSurce:
              $ref: '#/components/schemas/Inv401kSourceType'
              description: >-
                Source for money for this security. PRETAX, AFTERTAX, MATCH,
                PROFITSHARING, ROLLOVER, OTHERVEST, OTHERNONVEST
            currency:
              $ref: '#/components/schemas/Currency'
              description: Currency information if it is different from Account entity
            assetClasses:
              type: array
              description: Percent breakdown by asset class
              items:
                $ref: '#/components/schemas/Portion'
            fiAssetClasses:
              type: array
              description: Percent breakdown by FI-specific asset class percentage breakdown
              items:
                $ref: '#/components/schemas/FiPortion'
            fiAttributes:
              type: array
              description: Array of FI‐specific attributes
              items:
                $ref: '#/components/schemas/FiAttribute'
            taxLots:
              type: array
              description: Breakdown by tax lot
              items:
                $ref: '#/components/schemas/TaxLot'
        - oneOf:
          - properties:
              mutualFundSecurity:
                $ref: '#/components/schemas/MutualFundSecurity'
          - properties:
              optionSecurity:
                $ref: '#/components/schemas/OptionSecurity'
          - properties:
              otherSecurity:
                $ref: '#/components/schemas/OtherSecurity'
          - properties:
              stockSecurity:
                $ref: '#/components/schemas/StockSecurity'
          - properties:
              sweepSecurity:
                $ref: '#/components/schemas/SweepSecurity'
          - properties:
              debtSecurity:
                $ref: '#/components/schemas/DebtSecurity'
      type: object

    InvestmentAccount:
      title: InvestmentAccount Entity
      allOf:
        - $ref: '#/components/schemas/Account'
        - properties:
            balanceAsOf:
              description: As-of date of balances
              $ref: '#/components/schemas/Timestamp'
            allowedCheckWriting:
              $ref: '#/components/schemas/Boolean'
              description: Check writing privileges
            allowedOptionTrade:
              $ref: '#/components/schemas/Boolean'
              description: Allowed to trade options
            currentValue:
              $ref: '#/components/schemas/Number'
              description: Total current value of all investments
            holdings:
              type: array
              description: Array of holdings
              items:
                $ref: '#/components/schemas/Holding'
            openOrders:
              type: array
              description: Array of open orders
              items:
                $ref: '#/components/schemas/OpenOrder'
            contribution:
              type: array
              description: >-
                Describes how new contributions are distributed among the
                available securities
              items:
                $ref: '#/components/schemas/Contribution'
            vesting:
              type: array
              description: >-
                Provides the past, present, and future vesting schedule and
                percentages
              items:
                $ref: '#/components/schemas/Vesting'
            investmentLoans:
              type: array
              description: Array of investment loans
              items:
                $ref: '#/components/schemas/InvestmentLoan'
            availableCashBalance:
              description: >-
                Cash balance across all sub-accounts. Should include sweep
                funds.
              $ref: '#/components/schemas/Number'
            margin:
              $ref: '#/components/schemas/Boolean'
              description: Margin trading is allowed
            marginBalance:
              $ref: '#/components/schemas/Number'
              description: Margin balance
            shortBalance:
              $ref: '#/components/schemas/Number'
              description: Short balance
            rolloverAmount:
              $ref: '#/components/schemas/Number'
              description: Rollover amount
            employerName:
              type: string
              description: Name of the employer in investment 401k Plan
            brokerId:
              type: string
              description: Unique identifier FI
            planId:
              type: string
              description: Plan number for Investment 401k plan
            calendaryearFor401K:
              $ref: '#/components/schemas/Timestamp'
              description: Date for this calendar year for 401K account
            balanceList:
              type: array
              description: Balance List. Name value pair aggregate.
              items:
                $ref: '#/components/schemas/InvestmentBalance'
            dailyChange:
              $ref: '#/components/schemas/Number'
              description: Daily change
            percentageChange:
              $ref: '#/components/schemas/Number'
              description: Percentage change
            transactions:
              type: array
              description: Array of Investment Transactions
              items:
                $ref: '#/components/schemas/InvestmentTransaction'
            pensionSource:
              type: array
              description: Array of Pension Source
              items:
                $ref: '#/components/schemas/PensionSource'

    InvestmentBalance:
      title: InvestmentBalance Entity
      properties:
        balanceName:
          type: string
          description: Name of the balance
        balanceDescription:
          type: string
          description: Description of balance
        balanceType:
          $ref: '#/components/schemas/InvestmentBalanceType'
          description: AMOUNT, PERCENTAGE
        balanceValue:
          $ref: '#/components/schemas/Number'
          description: Value of balance name
        balanceDate:
          $ref: '#/components/schemas/Timestamp'
          description: Date as of this balance
        currency:
          $ref: '#/components/schemas/Currency'
          description: Currency if different from that of account
      type: object

    InvestmentLoan:
      title: InvestmentLoan Entity
      properties:
        loanId:
          type: string
          description: Unique identifier for this loan
        loanDescription:
          type: string
          description: Description
        initialLoanBalance:
          $ref: '#/components/schemas/Number'
          description: Initial loan balance amount
        loanStartDate:
          $ref: '#/components/schemas/Timestamp'
          description: Start date of the loan
        currentLoanBalance:
          $ref: '#/components/schemas/Number'
          description: Current loan principal balance amount
        dateAsOf:
          $ref: '#/components/schemas/Timestamp'
          description: Date and time of current loan balance
        loanRate:
          $ref: '#/components/schemas/Number'
          description: Loan annual interest rate for the loan
        loanPaymentAmount:
          $ref: '#/components/schemas/Number'
          description: Loan payment amount
        loanPaymentFrequency:
          $ref: '#/components/schemas/LoanPaymentFrequency'
          description: >-
            WEEKLY, BIWEEKLY, TWICEMONTHLY, MONTHLY, FOURWEEKS, BIMONTHLY,
            QUARTERLY, SEMIANNUALLY, ANNUALLY, OTHER
        loanPaymentInitial:
          $ref: '#/components/schemas/Number'
          description: Initial number of loan payments
        loanPaymentsRemaining:
          type: integer
          description: Remaining number of loan payments
        loanMaturityDate:
          $ref: '#/components/schemas/Timestamp'
          description: Expected loan end date
        loanInterestToDate:
          $ref: '#/components/schemas/Number'
          description: Total interest paid to date on this loan
        loanTotalProjectedInterest:
          $ref: '#/components/schemas/Number'
          description: Total projected interest to be paid on this loan
        loanNextPaymentDate:
          $ref: '#/components/schemas/Timestamp'
          description: The next payment date for the loan
      type: object

    InvestmentTransaction:
      title: InvestmentTransaction Entity
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - properties:
            transactionType:
              $ref: '#/components/schemas/InvestmentTransactionType'
              description: >-
                PURCHASED, SOLD, PURCHASEDTOCOVERADJUSTMENT, PURCHASETOOPEN, PURCHASETOCLOSE,
                SOLDTOOPEN, SOLDTOCLOSE, INTEREST, MARGININTEREST, REINVESTOFINCOME, RETURNOFCAPITAL,
                TRANSFER, CONTRIBUTION, FEE, OPTIONEXERCISE, OPTIONEXPIRATION, DIVIDEND, DIVIDENDREINVEST,
                SPLIT, CLOSURE, INCOME, EXPENSE, CLOSUREOPT, INVEXPENSE, JRNLSEC, JRNLFUND, OTHER, DIV,
                SRVCHG, DEP, ATM, POS, XFER, CHECK, PAYMENT, CASH, DIRECTDEP, DIRECTDEBIT, REPEATPMT
            shares:
              $ref: '#/components/schemas/Number'
              description: >-
                Required for stock, mutual funds. Number of shares (with decimals).
                Negative numbers indicate securities are being removed from the account.
            faceValue:
              $ref: '#/components/schemas/Number'
              description: Cash value for bonds
            price:
              $ref: '#/components/schemas/Number'
              description: Unit purchase price
            securityId:
              type: string
              description: Unique identifier of security
            securityIdType:
              $ref: '#/components/schemas/SecurityIdType'
            securityType:
              $ref: '#/components/schemas/SecurityType'
            symbol:
              type: string
              description: Ticker symbol
            markup:
              $ref: '#/components/schemas/Number'
              description: Portion of unit price that is attributed to the dealer markup
            commission:
              $ref: '#/components/schemas/Number'
              description: Transaction commission
            taxes:
              $ref: '#/components/schemas/Number'
              description: Taxes on the trade
            fees:
              $ref: '#/components/schemas/Number'
              description: Fees applied to the trade
            load:
              $ref: '#/components/schemas/Number'
              description: Load on the transaction
            inv401kSource:
              $ref: '#/components/schemas/Inv401kSourceType'
              description: >-
                Source of money. PRETAX, AFTERTAX, MATCH, PROFITSHARING, ROLLOVER
                OTHERVEST, OTHERNONVEST
            confirmationNumber:
              type: string
              description: Confirmation number of the transaction
            fractionalCash:
              $ref: '#/components/schemas/Number'
              description: Cash for fractional units (used for stock splits)
            incomeType:
              $ref: '#/components/schemas/IncomeType'
              description: >-
                Type of investment income - CGLONG (capital gains-long term),
                CGSHORT (capital gains-short term), MISC
            oldUnits:
              $ref: '#/components/schemas/Number'
              description: Number of shares before split
            splitRatioNumerator:
              $ref: '#/components/schemas/Number'
              description: Split ratio numerator
            splitRatioDenominator:
              $ref: '#/components/schemas/Number'
              description: Split ratio denominator
            newUnits:
              $ref: '#/components/schemas/Number'
              description: Number of shares after split
            subAccountSec:
              $ref: '#/components/schemas/SubAccountType'
              description: Sub-account security Type - CASH, MARGIN, SHORT and OTHERS
            subAccountFund:
              $ref: '#/components/schemas/SubAccountType'
              description: From which account money came in - CASH, MARGIN, SHORT and OTHERS
            loanId:
              type: string
              description: For 401k accounts only. This indicates the transaction was due to a loan or a loan repayment.
            loanPrincipal:
              $ref: '#/components/schemas/Number'
              description: How much loan pre‐payment is principal
            loanInterest:
              $ref: '#/components/schemas/Number'
              description: How much loan pre‐payment is interest
            payrollDate:
              $ref: '#/components/schemas/Timestamp'
              description: The date for the 401k transaction was obtained in payroll
            priorYearContrib:
              $ref: '#/components/schemas/Boolean'
              description: Indicates this buy was made using prior year's contribution.
            withholding:
              $ref: '#/components/schemas/Number'
              description: Federal tax withholding
            taxExempt:
              $ref: '#/components/schemas/Boolean'
              description: Tax‐exempt transaction
            gain:
              $ref: '#/components/schemas/Number'
              description: For sales
            stateWithholding:
              $ref: '#/components/schemas/Number'
              description: State tax withholding
            penalty:
              $ref: '#/components/schemas/Number'
              description: Indicates amount withheld due to a penalty
            runningBalance:
              $ref: '#/components/schemas/Number'
              description: Running balance of the position
            unitPrice:
              $ref: '#/components/schemas/Number'
              description: >-
                Price per commonly-quoted unit. Does not include
                markup/markdown, unitprice. Share price for stocks, mutual
                funds, and others. Percentage of par for bonds. Per share (not
                contract) for options.
            units:
              $ref: '#/components/schemas/Number'
              description: >-
                For security‐based actions other than stock splits, quantity.
                Shares for stocks, mutual funds, and others. Face value for bonds.
                Contracts for options.
            unitType:
              $ref: '#/components/schemas/UnitType'
            transactionReason:
              $ref: '#/components/schemas/TransactionReason'
              description: >-
                Reason for this transaction; CALL (the debt was called), SELL
                (the debt was sold), MATURITY (the debt reached maturity)
            accruedInterest:
              $ref: '#/components/schemas/Number'
              description: Accrued Interest
            transferAction:
              type: string
              description: Transfer direction [IN or OUT]
              enum:
                - IN
                - OUT
            positionType:
              $ref: '#/components/schemas/PositionType'
              description: LONG, SHORT
          type: object

    LineItem:
      title: LineItem Entity
      properties:
        description:
          type: string
          description: The description of the line item
        amount:
          $ref: '#/components/schemas/Number'
          description: The amount of money attributable to this line item
        checkNumber:
          type: integer
          description: Check number
        memo:
          $ref: '#/components/schemas/String255'
          description: Secondary item description
        reference:
          type: string
          description: A reference number
        imageIds:
          type: array
          description: >-
            Array of image identifiers (unique to transaction) used to retrieve
            images of check or transaction receipt
          items:
            type: string
        links:
          type: object
          properties:
            image:
              type: array
              items:
                $ref: '#/components/schemas/HateoasLink'
              description: >-
                 Array of Image Identifiers (unique to Transaction) used to retrieve Images of
                 check or transaction receipt
      type: object

    LoanAccount:
      title: LoanAccount Entity
      allOf:
        - $ref: '#/components/schemas/Account'
        - properties:
            balanceAsOf:
              $ref: '#/components/schemas/Timestamp'
              description: As-of date for balances
            principalBalance:
              $ref: '#/components/schemas/Number'
              description: Principal balance of loan
            escrowBalance:
              $ref: '#/components/schemas/Number'
              description: Escrow balance of loan
            originalPrincipal:
              $ref: '#/components/schemas/Number'
              description: Original principal of loan
            originatingDate:
              $ref: '#/components/schemas/Timestamp'
              description: Loan origination date
            loanTerm:
              type: integer
              description: Term of loan in months
            totalNumberOfPayments:
              type: integer
              description: Total number of payments
            nextPaymentAmount:
              $ref: '#/components/schemas/Number'
              description: Amount of next payment
            nextPaymentDate:
              $ref: '#/components/schemas/Timestamp'
              description: Date of next payment
            paymentFrequency:
              $ref: '#/components/schemas/PaymentFrequency'
              description: DAILY, WEEKLY, BIWEEKLY, SEMIMONTHLY, MONTHLY, SEMIANNUALLY, ANNUALLY
            compoundingPeriod:
              $ref: '#/components/schemas/CompoundingPeriod'
              description: DAILY, WEEKLY, BIWEEKLY, SEMIMONTHLY, MONTHLY, SEMIANNUALLY, ANNUALLY
            payOffAmount:
              $ref: '#/components/schemas/Number'
              description: Payoff amount
            lastPaymentAmount:
              $ref: '#/components/schemas/Number'
              description: Last payment amount
            lastPaymentDate:
              $ref: '#/components/schemas/Timestamp'
              description: Last payment date
            maturityDate:
              $ref: '#/components/schemas/Timestamp'
              description: Maturity date
            interestPaidYearToDate:
              $ref: '#/components/schemas/Number'
              description: Interest paid year to date
            transactions:
              type: array
              items:
                $ref: '#/components/schemas/LoanTransaction'
          type: object

    LoanTransaction:
      title: LoanTransaction Entity
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - properties:
            transactionType:
              $ref: '#/components/schemas/LoanTransactionType'
              description: PAYMENT, FEE, ADJUSTMENT, INTEREST
            paymentDetails:
              $ref: '#/components/schemas/PaymentDetails'
              description: Breakdown of payment details
          type: object

    LocAccount:
      title: LocAccount Entity
      allOf:
        - $ref: '#/components/schemas/Account'
        - properties:
            balanceAsOf:
              $ref: '#/components/schemas/Timestamp'
              description: As-of date for balances
            creditLine:
              $ref: '#/components/schemas/Number'
              description: Credit limit
            availableCredit:
              $ref: '#/components/schemas/Number'
              description: Available credit
            nextPaymentAmount:
              $ref: '#/components/schemas/Number'
              description: Amount of next payment
            nextPaymentDate:
              $ref: '#/components/schemas/Timestamp'
              description: Due date of next payment
            principalBalance:
              $ref: '#/components/schemas/Number'
              description: Principal balance
            currentBalance:
              $ref: '#/components/schemas/Number'
              description: Current balance LOC
            minimumPaymentAmount:
              $ref: '#/components/schemas/Number'
              description: Minimum payment amount
            lastPaymentAmount:
              $ref: '#/components/schemas/Number'
              description: Last payment amount
            lastPaymentDate:
              $ref: '#/components/schemas/Timestamp'
              description: Last payment date
            pastDueAmount:
              $ref: '#/components/schemas/Number'
              description: Past Due Amount
            lastStmtBalance:
              $ref: '#/components/schemas/Number'
              description: Last Statement Balance
            lastStmtDate:
              $ref: '#/components/schemas/Timestamp'
              description: Last Statement Date
            pointsAccrued:
              $ref: '#/components/schemas/Number'
              description: Points accrued
            currentRewardsBalance:
              $ref: '#/components/schemas/Number'
              description: Current rewards balance
            pointsRedeemed:
              $ref: '#/components/schemas/Number'
              description: Points redeemed
            purchasesApr:
              $ref: '#/components/schemas/Number'
              description: Purchases APR
            advancesApr:
              $ref: '#/components/schemas/Number'
              description: Advances APR
            cashAdvanceLimit:
              $ref: '#/components/schemas/Number'
              description: Cash advance limit
            availableCash:
              $ref: '#/components/schemas/Number'
              description: Available cash
            financeCharges:
              $ref: '#/components/schemas/Number'
              description: Finance charges
            transactions:
              type: array
              items:
                $ref: '#/components/schemas/LocTransaction'

    LocTransaction:
      title: LocTransaction Entity
      description: A line of credit transaction.
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - properties:
            transactionType:
              $ref: '#/components/schemas/LocTransactionType'
            checkNumber:
              type: integer
              description: Check number
            paymentDetails:
              $ref: '#/components/schemas/PaymentDetails'
          type: object

    MutualFundSecurity:
      title: MutualFundSecurity Entity
      properties:
        mutualFundType:
          $ref: '#/components/schemas/Timestamp'
        unitsStreet:
          $ref: '#/components/schemas/Number'
          description: Units in the FI's street name, positive quantity
        unitsUser:
          $ref: '#/components/schemas/Number'
          description: Units in user's name directly, positive  quantity
        reinvestDividends:
          $ref: '#/components/schemas/Boolean'
          description: Reinvest dividends
        reinvestCapitalGains:
          $ref: '#/components/schemas/Boolean'
          description: Reinvest capital gains
        yield:
          $ref: '#/components/schemas/Number'
          description: Current yield reported as portion of the fund's assets
        yieldAsOfDate:
          $ref: '#/components/schemas/Timestamp'
          description: As-of date for yield value

    OpenOrder:
      title: OpenOrder Entity
      properties:
        orderId:
          $ref: '#/components/schemas/Identifier'
        securityId:
          type: string
        securityIdType:
          $ref: '#/components/schemas/SecurityIdType'
        symbol:
          type: string
          description: Market symbol
        description:
          type: string
          description: Description of order
        units:
          $ref: '#/components/schemas/Number'
          description: Number of units (shares or bonds etc)
        orderType:
          $ref: '#/components/schemas/OrderType'
        orderDate:
          $ref: '#/components/schemas/Timestamp'
          description: Order date
        unitPrice:
          $ref: '#/components/schemas/Number'
          description: Unit price
        unitType:
          $ref: '#/components/schemas/UnitType'
        orderDuration:
          $ref: '#/components/schemas/OrderDuration'
        subAccount:
          $ref: '#/components/schemas/SubAccountType'
        limitPrice:
          $ref: '#/components/schemas/Number'
          description: Limit Price
        stopPrice:
          $ref: '#/components/schemas/Number'
          description: Stop price
        inv401kSource:
          $ref: '#/components/schemas/Inv401kSourceType'
      type: object

    OptionSecurity:
      title: OptionSecurity Entity
      properties:
        secured:
          $ref: '#/components/schemas/Secured'
        optionType:
          $ref: '#/components/schemas/OptionType'
        strikePrice:
          $ref: '#/components/schemas/Number'
          description: Strike price / Unit price
        expireDate:
          $ref: '#/components/schemas/Timestamp'
          description: Expiration date of option
        sharesPerContract:
          $ref: '#/components/schemas/Number'
          description: Shares per contract

    OtherSecurity:
      title: OtherSecurity Entity
      properties:
        typeDescription:
          type: string
          description: Description of Other Security

    PaymentDetails:
      title: PaymentDetails Entity
      properties:
        principalAmount:
          $ref: '#/components/schemas/Number'
          description: The amount of payment applied to principal
        interestAmount:
          $ref: '#/components/schemas/Number'
          description: The amount of payment applied to interest
        insuranceAmount:
          $ref: '#/components/schemas/Number'
          description: The amount of payment applied to life/health/accident insurance on the loan
        escrowAmount:
          $ref: '#/components/schemas/Number'
          description: The amount of payment applied to escrow
        pmiAmount:
          $ref: '#/components/schemas/Number'
          description: The amount of payment applied to PMI
        feesAmount:
          $ref: '#/components/schemas/Number'
          description: The amount of payment applied to fees
      type: object

    PlannedAvailability:
      title: PlannedAvailability Entity
      properties:
        status:
          type: string
        statusShortDes:
          type: string
        statusStartDate:
          $ref: '#/components/schemas/Timestamp'
        statusEndDate:
          $ref: '#/components/schemas/Timestamp'
      type: object

    Portion:
      title: Portion Entity
      properties:
        assetClass:
          $ref: '#/components/schemas/AssetClass'
        percent:
          $ref: '#/components/schemas/Number'
      type: object

    SingleAccountDetailsRequest:
      title: SingleAccountDetailsRequest Entity
      properties:
        accountId:
          type: string
          description: Account Identifier
        startTime:
          $ref: '#/components/schemas/Timestamp'
          description: >-
            Start time for use in retrieval; ISO 8601 date including zone
            indicator or combined date time including zone indicator
        endTime:
          $ref: '#/components/schemas/Timestamp'
          description: >-
            End time for use in retrieval; ISO 8601 date including zone
            indicator or combined date time including zone indicator


    Statement:
      title: Statement Entity
      properties:
        accountId:
          $ref: '#/components/schemas/Identifier'
          description: Corresponds to AccountId in Account entity
        statementId:
          $ref: '#/components/schemas/Identifier'
          description: Long‐term persistent identity of the statement
        statementDate:
          $ref: '#/components/schemas/Timestamp'
          description: Date of the statement
        description:
          type: string
          description: Description of statement
      type: object

    Statements:
      title: Statements Entity
      description: Array of Statement entities
      allOf:
        - $ref: '#/components/schemas/PaginatedArray'
        - type: object
          properties:
            statements:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/Statement'
                - type: object
                  properties:
                    links:
                      type: object
                      properties:
                        self:
                          $ref: '#/components/schemas/HateoasLink'

    StockSecurity:
      title: StockSecurity Entity
      properties:
        unitsStreet:
          $ref: '#/components/schemas/Number'
          description: Units in the FI's street name, positive quantity
        unitsUser:
          $ref: '#/components/schemas/Number'
          description: Units in user's name directly, positive  quantity
        reinvestDividends:
          $ref: '#/components/schemas/Boolean'
          description: Reinvest dividends
        stockType:
          $ref: '#/components/schemas/StockType'
        yield:
          $ref: '#/components/schemas/Number'
          description: Current yield
        yieldAsOfDate:
          $ref: '#/components/schemas/Timestamp'
          description: Yield as-of date

    SweepSecurity:
      title: SweepSecurity Entity
      properties:
        currentBalance:
          $ref: '#/components/schemas/Number'
          description: Balance of funds in account
        availableBalance:
          $ref: '#/components/schemas/Number'
          description: Balance of funds available for use
        balanceAsOf:
          $ref: '#/components/schemas/Timestamp'
          description: As-of date of balances
        checks:
          $ref: '#/components/schemas/Boolean'
          description: Whether or not checks can be written on the account

    TaxLot:
      title: TaxLot
      properties:
        originalPurchaseDate:
          $ref: '#/components/schemas/Timestamp'
          description: Lot acquired date
        quantity:
          $ref: '#/components/schemas/Number'
          description: Lot quantity
        purchasedPrice:
          $ref: '#/components/schemas/Number'
          description: Original purchase price
        costBasis:
          $ref: '#/components/schemas/Number'
          description: >-
            Total amount of money spent acquiring this lot including any fees or
            commission expenses incurred
        currentValue:
          $ref: '#/components/schemas/Number'
          description: Lot market value
        postionType:
          $ref: '#/components/schemas/PositionType'
      type: object

    TelephoneNumber:
      title: TelephoneNumber Entity
      properties:
        type:
          $ref: '#/components/schemas/TelephoneNumberType'
        country:
          $ref: '#/components/schemas/String3'
          description: Country calling codes defined by ITU‐T recommendations E.123 and E.164
        number:
          $ref: '#/components/schemas/String15'
          pattern: '\d+'
          description: Telephone subscriber number defined by ITU-T recommendation E.164
      type: object

    Transaction:
      title: Transaction
      properties:
        accountId:
          description: Corresponds to AccountId in Account
          $ref: '#/components/schemas/Identifier'
        transactionId:
          description: Long term persistent identity of the transaction (unique to account)
          $ref: '#/components/schemas/Identifier'
        referenceTransactionId:
          description: >-
            For reverse postings, the identity of the transaction being
            reversed. For the correction transaction, the identity of the
            reversing post. For credit card posting transactions, the identity
            of the authorization transaction.
          $ref: '#/components/schemas/Identifier'
        postedTimestamp:
          description: >-
            The date and time that the transaction was posted to the account. If
            not provided then TransactionTimestamp can be used as
            PostedTimeStamp.
          $ref: '#/components/schemas/Timestamp'
        transactionTimestamp:
          description: >-
            The date and time that the transaction was added to the server
            backend systems
          $ref: '#/components/schemas/Timestamp'
        description:
          type: string
          description: The description of the transaction
        memo:
          $ref: '#/components/schemas/String255'
          description: Secondary transaction description
        debitCreditMemo:
          $ref: '#/components/schemas/DebitCreditMemo'
        category:
          type: string
          description: 'Transaction category, preferably MCC or SIC.'
        subCategory:
          type: string
          description: Transaction category detail
        reference:
          type: string
          description: A tracking reference identifier
        status:
          $ref: '#/components/schemas/TransactionStatus'
        amount:
          $ref: '#/components/schemas/Number'
          description: The amount of money in the account currency
        ForeignAmount:
          $ref: '#/components/schemas/Number'
          description: The amount of money in the foreign currency
        foreignCurrency:
          $ref: '#/components/schemas/Iso4217Code'
          description: The ISO 4217 code of the foreign currency
        imageIds:
          type: array
          items:
            type: string
          description: >-
             Array of Image Identifiers (unique to Transaction) used to retrieve Images of
             check or transaction receipt
        lineItem:
          type: array
          description: Breakdown of the transaction details
          items:
            $ref: '#/components/schemas/LineItem'
        fiAttributes:
          type: array
          description: Array of FI-specific attributes
          items:
            $ref: '#/components/schemas/FiAttribute'
        links:
          type: object
          properties:
            image:
              type: array
              items:
                $ref: '#/components/schemas/HateoasLink'
              description: >-
                 Array of Image Identifiers (unique to Transaction) used to retrieve Images of
                 check or transaction receipt
      type: object

    Transactions:
      title: Transactions Entity
      description: Optionally paginated array of transactions
      allOf:
        - $ref: '#/components/schemas/PaginatedArray'
        - type: object
          properties:
            transactions:
              description: >-
                An array of transactions with entity types dependent on the
                account type (deposit, investment, loan, or line of credit)
              type: array
              items:
                oneOf:
                  - type: object
                    properties:
                      depositTransaction:
                        $ref: '#/components/schemas/DepositTransaction'
                  - type: object
                    properties:
                      loanTransaction:
                        $ref: '#/components/schemas/LoanTransaction'
                  - type: object
                    properties:
                      locTransaction:
                        $ref: '#/components/schemas/LocTransaction'
                  - type: object
                    properties:
                      investmentTransaction:
                        $ref: '#/components/schemas/InvestmentTransaction'
                  - type: object
                    properties:
                      insuranceTransaction:
                        $ref: '#/components/schemas/InsuranceTransaction'

    Transfer:
      title: Transfer Entity
      properties:
        transferId:
          $ref: '#/components/schemas/Identifier'
          description: >-
            Client generated, long‐term persistent identity of the transfer action.
            This ID should be maintained and returned by institution.
        fromAccountId:
          $ref: '#/components/schemas/Identifier'
          description: Long‐term persistent identity of the source account
        toAccountId:
          $ref: '#/components/schemas/Identifier'
          description: Long‐term persistent identity of the destination account
        amount:
          $ref: '#/components/schemas/Number'
          description: Positive amount of money to be transferred
        memo:
          $ref: '#/components/schemas/String255'
          description: User‐entered reason for transfer
        paymentDetails:
          $ref: '#/components/schemas/PaymentDetails'
          description: Payment details
      type: object

    TransferStatus:
      title: TransferStatus Entity
      properties:
        transferId:
          $ref: '#/components/schemas/Identifier'
          description: >-
            Client generated, long‐term persistent identity of the transfer action.
            This ID should be maintained and returned by institution.
        referenceId:
          $ref: '#/components/schemas/Identifier'
          description: Long term persistent identifier for transfer attempt
        status:
          $ref: '#/components/schemas/TransferStatusStatus'
        transferDate:
          $ref: '#/components/schemas/Timestamp'
          description: Date of transfer attempt
      type: object

    Vesting:
      title: Vesting Entity
      properties:
        vestingDate:
          $ref: '#/components/schemas/Timestamp'
          description: Vesting date
        symbol:
          type: string
          description: Security symbol
        strikePrice:
          $ref: '#/components/schemas/Number'
          description: Strike price
        vestingPercentage:
          $ref: '#/components/schemas/Number'
          description: Vesting percentage
        otherVestAmount:
          $ref: '#/components/schemas/Number'
          description: Other vest amount
        otherVestPercentage:
          $ref: '#/components/schemas/Number'
          description: Other vest percentage
        vestedBalance:
          $ref: '#/components/schemas/Number'
          description: Vested balance
        unVestedBalance:
          $ref: '#/components/schemas/Number'
          description: Unvested balance
        vestedQuantity:
          $ref: '#/components/schemas/Number'
          description: Vested qualtity
        unVestedQuantity:
          $ref: '#/components/schemas/Number'
          description: Unvested quantity
      type: object

    InsuranceAccount:
      title: InsuranceAccount Entity
      allOf:
        - $ref: '#/components/schemas/Account'
        - type: object
          properties:
            accountCategory:
              type: string
              enum: [DEPOSIT_ACCOUNT, INVESTMENT_ACCOUNT, LOAN_ACCOUNT, LOC_ACCOUNT, INSURANCE_ACCOUNT]
            policyPremium:
              $ref: '#/components/schemas/Number'
              description: The amount of the user's premium
            policyPremiumTerm:
              type: string
              enum:
                - MONTHLY
                - ANNUAL
            policyStartDate:
              $ref: '#/components/schemas/Timestamp'
            policyEndDate:
              $ref: '#/components/schemas/Timestamp'
            policyCoverageAmount:
              type: number
              description: Total amount of money the user is insured for
            transactions:
              type: array
              items:
                $ref: '#/components/schemas/InsuranceTransaction'
            bills:
              type: array
              items:
                $ref: '#/components/schemas/Bills'

    InsuranceTransaction:
      title: InsuranceTransaction
      description: An Insurance Transaction
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - type: object
          properties:
            transactionType:
              type: string
              enum:
                - PAYMENT
                - FEE
                - ADJUSTMENT
                - INTEREST

    Bills:
      title: Bills Entity
      properties:
        totalPaymentDue:
          type: number
          description: >-
            Total payment due or next payment due.  Monthly payment due for
            loans.
        minimumPaymentDue:
          type: number
        dueDate:
          $ref: '#/components/schemas/Timestamp'
          description: The date that the payment is due
        autoPayEnabled:
          type: boolean
          description: Whether the user's bill is paid automatically
        autoPayAmount:
          type: number
          description: The amount of money the user has set to autopay this bill
        autoPayDate:
          $ref: '#/components/schemas/Timestamp'
          description: The date the autopayment is set to trigger for this bill
        pastDueAmount:
          type: number
          description: >-
            The amount that the user should have already paid. Negative value if
            user owes money.
        lastPaymentAmount:
          type: number
        lastPaymentDate:
          $ref: '#/components/schemas/Timestamp'
        statementBalance:
          type: number
          description: >-
            The amount of the last statement.  Negative value if user owes
            money.
        statementDate:
          $ref: '#/components/schemas/Timestamp'
          description: The date the statement was issued

    PensionSource:
      title: PensionSource Entity
      properties:
        displayName:
          type: string
          description: Name of the Source
        amount:
          $ref: '#/components/schemas/Number'
          description: Benefit Amount
        paymentOption:
          type: string
          description: Form of payment
        asOfDate:
          $ref: '#/components/schemas/Timestamp'
          description: Date benefit was calculated
        frequency:
          $ref: '#/components/schemas/PaymentFrequency'
        startDate:
          $ref: '#/components/schemas/Timestamp'
          description: Assumed retirement date ‐ As of date amount is payable

    AnnuityAccount:
      title: AnnuityAccount Entity
      properties:
        annuityProductType:
          $ref: '#/components/schemas/AnnuityProductType'
        annuityValueBasis:
          $ref: '#/components/schemas/AnnuityValueBasis'
        paymentAmount:
          $ref: '#/components/schemas/Number'
          description: Amount of the recurring payment
        paymentFrequency:
          $ref: '#/components/schemas/PaymentFrequency'
        paymentStartDate:
          $ref: '#/components/schemas/Timestamp'
          description: Date of first payment; could be a future date
        paymentEndDate:
          $ref: '#/components/schemas/Timestamp'
          description: Date last payment will be made
        totalPaymentCount:
          $ref: '#/components/schemas/Number'
          description: Total number of payments that will be produced by the annuity
        netPresentValue:
          $ref: '#/components/schemas/Number'
          description: Surrender or cash balance value
        annualIncrease:
          $ref: '#/components/schemas/Number'
          description: Percent or dollar amount of annual payment increase
        annualIncreaseType:
          $ref: '#/components/schemas/AnnualIncreaseType'
        periodCertainGuarantee:
          $ref: '#/components/schemas/PeriodCertainGuarantee'

##################################################################################################
##################################################################################################
##################################################################################################
##################################################################################################

# ####################
# Simple Types       #
# Alphabetical order #
# ####################

    AccountStatus:
      title: AccountStatus
      type: string
      enum:
        - CLOSED
        - DELINQUENT
        - NEGATIVECURRENTBALANCE
        - OPEN
        - PAID
        - PENDINGCLOSE
        - PENDINGOPEN

    AccountType:
      title: AccountType
      type: string
      enum:
        - 401A
        - 401K
        - 403B
        - '529'
        - AUTOLOAN
        - CD
        - CHARGE
        - CHECKING
        - COMMERCIALLINEOFCREDIT
        - COMMERCIALLOAN
        - COVERDELL
        - CREDITCARD
        - ESCROW
        - ESOP
        - GUARDIAN
        - HOMEEQUITYLOAN
        - HOMELINEOFCREDIT
        - INSITUTIONALTRUST
        - INSTALLMENT
        - IRA
        - KEOGH
        - LINEOFCREDIT
        - LOAN
        - MILATARYLOAN
        - MONEYMARKET
        - MORTGAGE
        - PERSONALLOAN
        - ROLLOVER
        - ROTH
        - SARSEP
        - SAVINGS
        - SMBLOAN
        - STUDENTLOAN
        - TAXABLE
        - TDA
        - TRUST
        - UGMA
        - UTMA
        - ANNUITY

    AnnuityProductType:
      title: AnnuityProductType
      type: string
      enum:
        - CURRENCY
        - SHARES

    AnnuityValueBasis:
      title: AnnuityValueBasis
      type: string
      enum:
        - FIXED
        - VARIABLE

    AnnualIncreaseType:
      title: AnnualIncreaseType
      type: string
      enum:
        - FIXED
        - PERCENT
        - DOLLAR

    AssetClass:
      title: AssetClass
      type: string
      enum:
        - DOMESTICBOND
        - INTLBOND
        - INTLSTOCK
        - LARGESTOCK
        - MONEYMARKET
        - OTHER
        - SMALLSTOCK

    BalanceType:
      title: BalanceType
      description: >-
        ASSET (positive transaction amount increases balance)
        LIABILITY (positive transaction amount decreases balance)
      type: string
      enum:
        - ASSET
        - LIABILITY

    Boolean:
      title: Boolean
      description: true or false
      type: boolean
      pattern: 'true|false'

    CallType:
      title: CallType
      type: string
      enum:
        - CALL
        - MATURITY
        - PREFUND
        - PUT

    CompoundingPeriod:
      title: CompoundingPeriod
      type: string
      enum:
        - ANNUALLY
        - BIWEEKLY
        - DAILY
        - MONTHLY
        - SEMIANNUALLY
        - SEMIMONTHLY
        - WEEKLY

    CouponMatureFrequency:
      title: CouponMatureFrequency
      type: string
      enum:
        - ANNUAL
        - MONTHLY
        - OTHER
        - QUARTERLY
        - SEMIANNUAL

    DebitCreditMemo:
      title: DebitCreditMemo
      type: string
      enum:
        - CREDIT
        - DEBIT
        - MEMO

    DebtClass:
      title: DebtClass
      type: string
      enum:
        - CORPORATE
        - MUNICIPAL
        - OTHER
        - TREASURY

    DebtType:
      title: DebtType
      type: string
      enum:
        - COUPON
        - ZERO

    DeliveryAddressType:
      title: DeliveryAddress Type
      type: string
      enum:
        - BUSINESS
        - HOME
        - MAILING

    DepositTransactionType:
      title: DepositTransaction Type
      type: string
      enum:
        - ADJUSTMENT
        - ATMDEPOSIT
        - ATMWITHDRAWAL
        - BILLPAYMENT
        - CHECK
        - DEPOSIT
        - DIRECTDEPOSIT
        - DIVIDEND
        - FEE INTEREST
        - POSCREDIT
        - POSDEBIT
        - TRANSFER
        - WITHDRAWAL

    HeldInAccount:
      title: HeldInAccount
      type: string
      enum:
        - CASH
        - MARGIN
        - OTHER
        - SHORT

    HoldingSubType:
      title: HoldingSubType
      type: string
      enum:
        - CASH
        - MONEYMARKET

    HoldingType:
      title: HoldingType
      type: string
      enum:
        - ANNUITY
        - BOND
        - CD
        - MUTUALFUND
        - OPTIONS
        - STOCK

    Identifier:
      title: Identifier
      type: string
      maxLength: 256

    IncomeType:
      title: IncomeType
      type: string
      enum:
        - CGLONG
        - CGSHORT
        - MISC

    InterestRateType:
      title: InterestRateType
      type: string
      enum:
        - FIXED
        - VARIABLE

    Inv401kSourceType:
      title: Inv401kSourceType
      type: string
      enum:
        - AFTERTAX
        - MATCH
        - OTHERNONVEST
        - OTHERVEST
        - PRETAX
        - PROFITSHARING
        - ROLLOVER

    InvestmentBalanceType:
      title: InvestmentBalanceType
      type: string
      enum:
        - AMOUNT
        - PERCENTAGE

    InvestmentTransactionType:
      title: InvestmentTransactionType
      type: string
[...]
